
footer
    ul
        li: a(href="/about") About Us
        li: a(href="/contact") Contact Us
        li: a(href="/sitemap") Sitemap
        li: a(href="https://github.com/kjgaetjens/tickets") Github

script(src="/js/modal.js")