.nav
        #menu-nav
            span: a(href="/") Home
            span: a(href="#") Music 
            span: a(href="#") Venue 
            span: a(href="#") Link 
            span: a(href="#") Search
        #login-nav 
            if username != null
                span: a(href="/logout") Log out
                span: a(href="account") #{username}
            else
                span(id='login') Log in 
                span: a(href="register") Sign up 

                