if venue
    ul
        li: a(href=`events`) Events 
        span | 
        li: a(href=`details`) Details
if event
    ul
        li: a(href=`events`) Events 
        span | 
        li: a(href=`details`) Details