if venue
    #event-header
        .event-name-venue
            h1 #{venue.name}
            include venuesmenu.pug
if venueInfo
    #event-header
        .event-name-venue
            h1 #{venueInfo}
            include venuesmenu.pug