extends layout.pug

append topMenu

block topContent
    #index-search-container         
    .title
        include includes/artistmenu
append bottomContent
        .event-div
            //- events go here

