extends layout.pug

append topMenu

block topContent
    #index-search-container         
    .title
        include includes/artistmenu
append bottomContent
    each val, index in {1: "event1", 2:"event2"}
        .event-div
            span= val
            p event date and description will go here
            button more info

            

