extends layout.pug

append topMenu

block topContent

    .topContainer
        h2 Account Settings    
        ul
            a(href="/account") Settings
            a(href="/account/payment") Payment
            a(href="/account/history") History
            a(href="/account/favorites") Favorites





block bottomContent
    .profile
        h2 Favorites
        each favorite in favorites
            .favoriteDisplay
            form(action='/account/delete-favorite' method='post')
                i(class='fa fa-heart' style={color: 'red'})
                p #{favorite.event_name}
                p #{favorite.event_date}
                p #{favorite.venue_name}
                input(type="hidden" name="event_id" value=`${favorite.event_id}`)
                button(type='submit' class='delete-button')
                    i(class='fa fa-trash-o')

    