extends layout.pug

append topMenu



block topContent

    .topContainer
        h2 Account Settings    
        ul
            a(href="/account") Settings
            a(href="/account/payment") Payment
            a(href="/account/history") History




block bottomContent
    .ticketHistory
        h2 All Ticket Purchases
        .displayTickets
            p=orders        
            p Order Date: Order Object
            p Order Price: Order Object
            P Venue: 
            p Quantity: Count of Tickets associated with order number

