extends layout.pug


block topMenu
    #index-search-container         
    .title
        h1 Welcome to Ticket Sales
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim lectus neque, at facilisis quam rutrum ut. Morbi varius velit lacus, eget facilisis orci porta nec
        input(
            type='text'
            name='search'
            placeholder='search for...'
        )
        button submit
block bottomContent
    .genre-container
        .genre-div
        a(href="#") genre
//- will change to add each genre from api!!!!
                        