extends layout.pug

append topMenu
    include includes/login
    #index-search-container
        div.topTitle      
            h1 Welcome to Ticket Sales   
        //-SEARCH 
        div.topSearch    
            form(method="GET" action="/search")
                input(
                    type='text'
                    name='eventSearch'
                    placeholder='Search'
                )
                button: i(class="fas fa-search")

    script(src="/js/index.js")

