extends layout.pug

append topMenu


block topContent
    #index-search-container         
    .title
        h1 Welcome to Ticket Sales
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim lectus neque, at facilisis quam rutrum ut. Morbi varius velit lacus, eget facilisis orci porta nec
        input(
            type='text'
            name='search'
            placeholder='search for...'
        )
        button submit




                        