doctype html
html
    
    include includes/head
    body
        block topMenu
            include includes/navigation

        block topContent
            .top-banner
                p testing

        block bottomContent
            .bottom-container


    footer
        ul
            li: a(href="/about") About Us
            li: a(href="/contact") Contact Us
            li: a(href="/sitemap") Sitemap
            li: a(href="https://github.com/kjgaetjens/tickets") Github


