doctype html
html
    include includes/head
        link(rel='stylesheet', href='/css/style.css', type='text/css')
    body
        div.topDash
            block topMenu
                    ul.topMenu
                        a(href="#") Music
                        a(href="#") Venue
                        a(href="#") Link
                        a(href="#") Search
                        if user != null
                            a(href="/logout") Log out
                            a(href="account") #{user}
                        else
                            span(id="login") Log in
                            a(href="#") Sign up

        block topContent
            .top-banner

        block bottomContent
            .bottom-container


    footer
        ul
            li: a(href="/about") About Us
            li: a(href="/contact") Contact Us
            li: a(href="/sitemap") Sitemap
            li: a(href="https://github.com/kjgaetjens/tickets") Github
        script(src="js/modal.js")
        script(src="/js/menuToggle.js")
