doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='Some description')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='style.css')

    body
        block topMenu
            ul
                li
                    a(href="#") Music
                li
                    a(href="#") Venue
                li
                    a(href="#") Calendar
                li
                    a(href="#") Search
                li
                    a(href="#") Log Out
        block topContent

        block bottomContent






    footer
        ul
            a(href="https://github.com/kjgaetjens/tickets") Github





