doctype html
html
    include includes/head
    body
        block topMenu
            .nav
                ul
                    a(href="#") Music
                    a(href="#") Venue
                    a(href="#") Link
                    a(href="#") Search 
                    a(href="#") Log in 
                    a(href="#") Sign up

        block topContent

        block bottomContent


    footer
        ul
            a(href="https://github.com/kjgaetjens/tickets") Github





