doctype html
html
    include includes/head
        link(rel='stylesheet', href='/css/style.css', type='text/css')
    body
        div(class="topDash" id="backgroundContainer")
            block topMenu
                    ul.topMenu
                        .menu-options
                            a(href="#") Music 
                            a(href="#") Venue 
                            a(href="#") Link 
                            a(href="#") Search 
                        if user != null
                            .login-div
                                a(href="/logout") Log out 
                                a(href="account") #{user}
                        else
                            .login-div
                                span(id="login") Log in 
                                a(href="register") Sign up 

        block topContent
            .top-banner

        block bottomContent
            .bottom-container


    footer
        ul
            li: a(href="/about") About Us
            li: a(href="/contact") Contact Us
            li: a(href="/sitemap") Sitemap
            li: a(href="https://github.com/kjgaetjens/tickets") Github
        script(src="js/modal.js")
        script(src="/js/menuToggle.js")
