<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/css/events.css' type='text/css'>
        <link rel='stylesheet' href='/css/billing.css' type='text/css'>
        <link rel='stylesheet', href='/css/login.css', type='text/css'>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
      <div class="force-down">
      <div class="top-banner">
        <div class="nav">
            <div id="menu-nav">
                <span><a href="/">Home</a></span>
                <span><a href="#">Music</a></span>
                <span><a href="/venues">Venue</a></span>
                <span><a href="#">Link</a></span>
                <span><a href="#">Search</a></span>
              </div>
              <div id="login-nav">
                <span><a href="/logout">Log out</a></span>
              </div>
        </div>
      </div>  
      <div id="main-container">
        <div id="left-container">
          <div id="event-container">

          </div>
          <div id="billing-container">
            <form action="./billing" method="POST" id="payment-form">
              <div class="billing-row">
                <div class="billing-column-header">
                  <h4>Contact Information</h4>
                </div>
                <div id="contact-info-details" class="billing-column-details">
                  <div id="email" class="contact-container">
                    
                  </div>
                  <div id="phone" class="contact-container">

                  </div>
                </div>
              </div>
              <div class="billing-row">
                <div class="billing-column-header">
                  <h4>Payment Method</h4>
                </div>
                <div id="billing-payment-details" class="billing-column-details">
                    <div class="form-row">
                      <label for="card-element">
                        Credit or debit card
                      </label>
                      <div id="card-element">
                        <!-- A Stripe Element will be inserted here. -->
                      </div>
                  
                      <!-- Used to display Element errors. -->
                      <div id="card-errors" role="alert"></div>
                    </div>
                </div>
              </div>
              <div class="billing-row">
                  <div class="billing-column-header">
                  </div>
                  <div class="billing-column-details">
                    <button id="billing-submit">Submit Payment</button>
                  </div>
                </div>
            </form>
          </div>

        </div>
        <div id="right-container">
            <div id="order-info">

            </div>
            <div id="event-info">

            </div>
        </div>
      </div>
      </div>
      <footer>
        <ul>
          <li><a href="/about">About Us</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <li><a href="/sitemap">Sitemap</a></li>
          <li><a href="https://github.com/kjgaetjens/ticketpug">Github</a></li>
        </ul>
      </footer>

        <script src="https://js.stripe.com/v3/"></script>
        <script src="https://kit.fontawesome.com/73f53cadb8.js"></script>
        <script src="/public/client.js"></script>
        <script src="/js/modal.js"></script>

    </body>
</html>
