extends layout.pug

append topMenu

block topContent
    #index-search-container         
    .title
        include includes/venuesmenu
block bottomContent
    .info-container
        //- seating chart goes here