extends userLayout.pug

block topMenu
    include includes/navigation
block topContent

    .topContainer
        h1.settingTitle Account Settings    
    ul.accountMenu
        a.firstLink(href="/account") Settings
        a(href="/account/history") History
        a(href="/account/favorites") Favorites
        a(href="/account/payment") Payment





block bottomContent
    .userDisplayInfo
        h2 Welcome #{username}!



        
