extends layout.pug

append topMenu

block topContent

    .topContainer
        h1.settingTitle Account Settings    
    ul.accountMenu
        a.firstLink(href="/account") Settings
        a(href="/account/payment") Payment
        a(href="/account/history") History
        a(href="/account/favorites") Favorites





block bottomContent
    .userDisplayInfo
        h2 Welcome #{username}!



        
