extends sub-account.pug

block append topContent
    .topContainer
        h1.settingTitle Account Settings    


block bottomContent
    ul(class="accountMenu" id="accountMenu")
        a.firstLink(href="/account" class="active") Settings
        a(href="/account/history") History
        a(href="/account/favorites") Favorites
        a(href="/account") Payment
        a(href="javascript:void(0);" class="menuIcon" onclick="myFunction()")
            i(class="fa fa-bars")

    .userDisplayInfo
        h2 Welcome #{username}!

    include includes/footer  
        script(src="/js/menuToggle.js")



        
