extends layout.pug


block topContent
    .topContainer
        h2 Account Settings
        ul
            li
                a(href="/account") Settings
            li
                a(href="/account/payment") Payment
            li
                a(href="/account/history") History


