.top-banner {
    height: 60px;
    padding: 0;
}
.confirmation-container {
    height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6vh;
}

.confirmation-container .order-summary, .event-details, .order-details{
    margin-bottom: 3vh;
}

.event-details h3, .event-details h4 {
    margin-top: 0;
    margin-bottom: 1vh;
}

.order-details {
    display: flex;
}

.order-column {
    display: flex;
    flex-direction: column;
    margin-right: 4em;
}

.order-column h4 {
    margin: 0;
}

.order-column .header h4 {
    margin-bottom: 1vh;
}

@media only screen and (max-width: 580px) {
    .order-details {
        flex-direction: column;
    }
    .order-column {
        flex-direction: row;
        justify-content: space-between;
    }
    .order-column h4 {
        font-weight: normal;
        margin-bottom: 0;
    }
    #item-column {
        display: none;
    }
    #fees-column {
        border-bottom: 1px solid grey;
    }
}