body{
    margin: 0;
    box-sizing: border-box;
    font-family:arial;
}
/***NAVIGATION****/
.nav {
    display: flex;
    justify-content: space-between;
    padding:20px; 
    background-color:white;
}
#menu-nav{
    display:flex; 
}
.nav span{
    margin: 0 20px 0 20px;
}
a{
    text-decoration:none;
    color:black;
}
/***TOP SIDE OF PAGE***/
.top-banner{
    background: 
    linear-gradient(-18deg, rgb(27, 22, 105) 50%, rgba(40, 13, 102)),
    url('/images/background.jpeg');
    height: 70vh;
    background-size:cover;
    /* box-shadow: 6px -6px 20px 10px #999; */
    /* clip-path: polygon(0 0, 100% 0, 100% 68%, 0% 100%); */
}
.top-banner > p {
    color:white;
}
.bottom-container{
    display:flex;
    flex-direction: column;
    
}
.search-result-div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 0 10px 0;
}
.event-info-div{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items:center;
}
.info-btn{
    padding:10px;
    background-color: rgb(27, 22, 105);
    color:white;
    border-radius:10px;
}
.info-btn > a{
    color: white;
}
.event-info-div > p {
    color: #777;
}
/* 
width: 96%;
box-shadow: 15px 17px;
margin: 10px auto; */