@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
body{
    margin: 0;
    box-sizing: border-box;
    font-family:arial;
}
/***NAVIGATION****/
.nav {
    display: flex;
    justify-content: space-between;
    padding:20px; 
    background-color:white;
}
#menu-nav{
    display:flex; 
}
.nav span{
    margin: 0 20px 0 20px;
}
a{
    text-decoration:none;
    color:black;
}
.nav a:hover{
    color:#1cb5e0;
    font-weight: 800;
}

/***TOP SIDE OF PAGE***/
.top-banner{
    background: linear-gradient(45deg, #1cb5e073 0%, #000851 100%),linear-gradient(20deg, #1cb5e0 20%, #000851 7%);
    height: 50vh;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    padding: 5%;
    box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.34);
    /* box-shadow: 6px -6px 20px 10px #999; */
    /* clip-path: polygon(0 0, 100% 0, 100% 68%, 0% 100%); */
}
.top-banner > h1, .event-name-venue > h1 {
    color:white;
}
.top-banner > h2, .event-name-venue > h2 {
    color:coral;
}
#event-header img{
    border-radius:10px;
    max-width: 400px;
    border: 1px solid white;
    box-shadow: 10px 10px white;
}
#event-header{
    display:flex;
    justify-content: space-around;
    margin-bottom: 5%;
    padding: 30px;
    width: 100%;
}
.event-name-venue{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.search-div{
    width: 40%;
}

.search-div> form{
    display:flex;
    justify-content:center;
}
.search-div input {
    outline: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.search-div button{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}



/***BOTTOM***/
.bottom-container{
    display:flex;
    flex-direction: column;
    margin:0 auto;
    width:90%;
}
.search-result-div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px 0 10px 0;
    border: 1px solid #777;
}
.event-info-div{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items:center;
    padding: 10px;
}
.info-btn{
    padding:10px;
    background-color: #154381;
    color:white;
    border-radius:10px;
}
.info-btn > a{
    color: white;
}

.info-btn:hover{
    background-color: #4880d0;
}
.event-info-div > p {
    color: #777;
}
.event-info-div > h3{
    margin: 0;
}

.event-container{
    display:flex;
    margin-top: 5%;
    height: 80%;
    justify-content: space-between;
    height: 500px;
    border: 1px solid #777;
    box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.34);
}
.tickets-container{
    display:flex;
    flex-direction: column;
    overflow: scroll;
    width: 40%;
    border-right: 1px solid #777;
}

.ticket-price{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-top: 1px solid #777;
}

.seatmap-container{
    overflow: scroll;
}
#img{
    transform: scale(0.5);
}

#zoomin, #zoomout {
    font-size:2em;
    font-weight:700;
}


#zoomin:hover, #zoomout:hover {
    cursor: pointer;
}

#login-modal{
    background-color: #fefefe;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        border-radius: 10px;
}
.modal{
    display: none;
    position: fixed;
    z-index:1;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.7);
}
/* 
width: 96%;
box-shadow: 15px 17px;
margin: 10px auto; */


