/*****LOGIN*****/
#login-modal{
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 40%;
    height: 50vh;
}
.login-container{
    display:flex;
    flex-direction:column;
    padding:10px;
    justify-content:center;
}

.login-container > h2{
    text-align:center;
    font-size: 3em;
    color: #333;
}

.login-container form{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0;
}
.login-container form input{
    margin: 5%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #777;
    width: 80%;
}
.modal button{
    background-color: #000851;
    color: white;
    padding: 10px 30px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
}
#login:hover{
    cursor: pointer;
}
.modal{
    display: none;
    position: fixed;
    z-index:1;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.7);
}

.close{
    color: #777;
    float: right;
    font-size:20px;
    font-weight: bold;
}
.close:hover{
    cursor:pointer;
}