 .top-banner{  
    background: linear-gradient(45deg, #1cb5e073 0%, #000851 100%),linear-gradient(209deg, #1cb5e0 20%, #000851 7%);
    height: 40vh;
    display: flex;
    flex-direction: column; 
    background-size: cover;
    width: 100%;
 }