body{
    margin: 0;
    box-sizing: border-box;
    font-family:arial;
}

/***NAVIGATION****/
.nav {
    display: flex;
    justify-content: space-between;
    padding:20px; 
    background-color:white;
}
#menu-nav{
    display:flex; 
}
.nav span{
    margin: 0 20px 0 20px;
}
a{
    text-decoration:none;
    color:black;
}
.nav a:hover{
    color:#1cb5e0;
    font-weight: 800;
}

.topContainer {
    background: linear-gradient(45deg, #1cb5e073 0%, #000851 100%),linear-gradient(209deg, #1cb5e0 20%, #000851 7%);
    height: 50vh;
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
    background-size: cover;
    width: 100%;
}

.topDash {
    background-position: center;
    color: white;
}


.settingTitle {
    margin-left: 10%;
    color: white;
    font-size: 2.5em;
}

.accountMenu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0;
    border-bottom: rgb(240, 232, 232) solid 2px;
    padding: 0;
    font-size: 20px;
    padding-bottom: 4px;
    padding-top: 4px;
}

.accountMenu a {
    color: grey;
    text-decoration: none;
    
}
.accountMenu a.active {
    color: rgb(82, 79, 79);

    
}

.accountMenu a:hover {
    color: rgb(82, 79, 79);
    font-weight: bold;
}

.menuIcon {
    display: none;
}

.userDisplayInfo {
    color: rgb(82, 79, 79);
    margin-bottom: 10%;
}

.ticketHistory {
    margin-left: 5%;
    margin-right: 5%;
}

.noEvents {
    font-style: italic;
}


/* Button Stylings */


.fa-heart {
    color: rgb(160, 22, 22);
    cursor: pointer;
    margin-right: 3vw;
}

.formClass {
    display: flex;
    flex-direction: column;
}

.fa-trash-o{
    color: rgb(104, 102, 102);
}

.fa-trash-o:hover {
    cursor: pointer;
    font-size: 1.5rem;
}

.delete-button {
    padding: 0;
    border: none;
    background: none;
    margin-top: 3vh;
}


.purchasedDate {
    color: grey;
}

.ticketHistory h2 {
    text-align: center;
    color: rgb(82, 79, 79);
    margin-top: 10vh;
    font-size: 1.8em;
}

.ticketHistory h3 {
    text-align: center;
    margin-bottom: 10vh;
}

.displayTickets {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border: rgb(240, 232, 232) solid 1px;
    margin-top: 5vh;
}

.topDash img{
    display: none;
}

.userDisplayInfo h2 {
    text-align: center;
    color: rgb(82, 79, 79);
    margin-top: 10vh;
    font-size: 1.8em;
}

.favoriteDisplay {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10vh;
    text-align: center;
    border: rgb(240, 232, 232) solid 1px;
    margin-right: 5vh;
    margin-left: 5vh;
    padding-bottom: 2vh;
}

.favoriteDiv h2 {
    text-align: center;
    color: rgb(82, 79, 79);
    margin-top: 10vh;
    font-size: 1.8em;
}

.info-btn{
    padding:10px;
    background-color: #154381;
    color:white;
    border-radius:10px;
    width: 10vw;
    align-self: center;
}
.info-btn > a{
    color: white;
}

.info-btn:hover{
    background-color: #4880d0;
}

footer ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer li {
    padding-right: 4%;
}







/**RESPONSIVE BELOW**/
@media only screen and (max-width: 650px){
    .accountMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 0;
        border-bottom: rgb(240, 232, 232) solid 2px;
        padding: 0;
        font-size: 20px;
        padding-bottom: 4px;
        padding-top: 4px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2vh;
    }

    #menu-nav {
        display: flex;
        flex-direction: column;
    }

    .ticketHistory {
        margin: 2vh;
        text-align: center;

    }

    .ticketHistory h2 {
        margin-top: 5vh;
        font-size: 1.5rem;
    }

    .topContainer {
        height: 30vh;
    }

    .displayTickets h3 {
        margin-top: 1vh;
        margin-bottom: 0;
    }

    .displayTickets p {
        margin: 2vh;
    }

    .accountMenu a:not(:last-child){
        display: none;
    }

    .menuIcon {
        float: right;
        display: block;
    }
    .accountMenu.responsive {
        position: relative;
    }
    .accountMenu.responsive.menuIcon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .accountMenu.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .settingTitle {
        margin-left: 10%;
        color: white;
        font-size: 1.5em;
    }

    footer ul {
        flex-direction: column;

    }
}

