@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
body {
    margin: 0px;
    font-family:Nunito;
}
ul{
    margin:0;
}

a{
    text-decoration:none;
}
h1{
    font-size:3em;
}

/***NAVIGATION****/
.nav {
    display: flex;
    justify-content: space-between;
    padding:20px; 
    background-color:white;
}

#menu-nav{
    display:flex; 
}
.nav span{
    margin: 0 20px 0 20px;
}

/*****TOP SIDE OF PAGE****/

.topDash {
    background: linear-gradient(45deg, #1cb5e075 0%, #00085145 100%),linear-gradient(23deg, #2e3ca069 20%, #032a6196 7%), linear-gradient(215deg, #1a6c8482 20%, #0008518a 5%),linear-gradient(303deg, #119fc7a6 20%, #0008518a 5%), url(concert.jpeg);
    background-size: 100%;
    height: 100vh;
    background-position: center;
    color: white;
}

.topMenu {
    font-size: 20px;
    align-content: center;
    display: flex;
    justify-content:space-between;
    padding: 10px;
}
.topMenu a{
   margin-right: 10px;
}
.topMenu a:link {
    color: white;
}
.topMenu a:visited {
    color: white;
}

.topTitle {
    text-align: center;
}

/***SEARCH FORM***/

.topSearch {
    margin: 0 auto;
    width: 183px;
}
.topSearch input{
    outline: none;
    padding: 10px;
    background:white;
    border: 1px solid white;
    color:black;
    box-shadow:0 0px 11px 0px #0000004f

}



.topSearch button{
    background-color: transparent;
    color: black;
    border: none;
    position: relative;
    right: 30px;
}

.topSearch > form{
    display: flex;
    justify-content:center;
}


@media (min-width: 320px) and (max-width: 480px) {
  
    
    
  }