body {
    margin: 0px;
    font-family:arial;
}
ul{
    margin:0;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding:20px; 
    background-color:white;
}

#menu-nav{
    display:flex; 
}
.nav span{
    margin: 0 20px 0 20px;
}
a{
    text-decoration:none;
    color:black;
}

.topDash {
    background: linear-gradient(45deg, #1cb5e075 0%, #00085145 100%),linear-gradient(23deg, #2e3ca069 20%, #032a6196 7%), linear-gradient(215deg, #1a6c8482 20%, #0008518a 5%),linear-gradient(303deg, #119fc7a6 20%, #0008518a 5%), url(concert.jpeg);
    background-size: 100%;
    height: 50vh;
    background-position: center;
    color: white;
}

.topMenu {
    font-size: 20px;
    align-content: center;
    display: flex;
    justify-content:space-between;
}
.topMenu a{
   margin-right: 10px;
}
.topMenu a:link {
    color: white;
}
.topMenu a:visited {
    color: white;
}
/* .topMenu a:hover {
    color: red;
} */

.topTitle {
    text-align: center;
}

.topSearch {
    margin: 0 auto;
    width: 183px;
}
input{
    outline: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

button{
    background-color: #000851;
    color: white;
    padding: 10px 30px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
}
#index-search-container{
    transform:translate(0px, 70px);
}
.topSearch > form{
    display: flex;
    flex-direction:column;
}

/******LOGIN MODAL****/

#login-modal{
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 40%;
    height: 50vh;
}
.login-container{
    display:flex;
    flex-direction:column;
    padding:10px;
    justify-content:center;
}

.login-container > h2{
    text-align:center;
    font-size: 3em;
}

.login-container form{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0;
}
.login-container form input{
    margin: 5%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #777;

}
#login:hover{
    cursor: pointer;
}
.modal{
    display: none;
    position: fixed;
    z-index:1;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.7);
}
.login-container >h2{
    margin:0;
}
.login-container{
    color:black;
}